flows.json
[
    {
        "id": "f788a78067227a65",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0dfdf1e914c1f5cc",
        "type": "ui_tab",
        "name": "Aislapol Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dcd6b90204ca17ac",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Aislapol Theme",
                "default": "#4B7930",
                "baseColor": "#009ee0",
                "baseFont": "Lucida Sans Unicode,Lucida Grande,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#009ee0",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#008ac6",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#2dc1ff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#f4f4f4",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#009ee0",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#f4f4f4",
                    "edited": true
                },
                "base-font": {
                    "value": "Lucida Sans Unicode,Lucida Grande,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Aislapol Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6d1bf9e97b19ea27",
        "type": "ui_group",
        "name": "Machines",
        "tab": "0dfdf1e914c1f5cc",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a2333ce74658d6e",
        "type": "ui_tab",
        "name": "Machine 1 Details",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "0ca931ec6fb88653",
        "type": "ui_group",
        "name": "Machine 1 Details",
        "tab": "7a2333ce74658d6e",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "09a29acb39ff18a9",
        "type": "ui_tab",
        "name": "Machine 2 Details",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3f5e573249780b52",
        "type": "ui_group",
        "name": "Machine 2 Details",
        "tab": "09a29acb39ff18a9",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "215b3d60b59062c3",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://192.168.1.3:4840",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": true,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "66dabf03.46121",
        "type": "OpcUa-Endpoint",
        "z": "f788a78067227a65",
        "endpoint": "opc.tcp://localhost:53530/OPCUA/SimulationServer",
        "none": false,
        "login": false
    },
    {
        "id": "079730b127182e3f",
        "type": "ui_template",
        "z": "f788a78067227a65",
        "group": "6d1bf9e97b19ea27",
        "name": "",
        "order": 0,
        "width": "7",
        "height": "9",
        "format": "<style>\n    .card {\n        /* Add rounded corners and shadow to the card */\n        border-radius: 8px;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);\n\n        /* Add some padding and margin to the card */\n        padding: 16px;\n        margin: 16px;\n\n        /* Use flexbox to align the contents of the card */\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .machine-name {\n        font-weight: bold;\n        font-style: italic;\n    }\n\n    .card:hover {\n        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);\n        cursor: pointer;\n    }\n\n    .card-text p {\n        padding: 0.5rem;\n    }\n\n    .card .led {\n        /* Add a border and some padding to the LED */\n        border: 1px solid rgba(0, 0, 0, 0.877);\n        border-radius: 50%;\n        width: 16px;\n        height: 16px;\n        margin: 8px;\n        padding: 8px;\n        align-self: left;\n\n    }\n\n    .led-container {\n        width: 100%;\n        align-items: left;\n    }\n\n    .card .led.red {\n        /* Make the LED red when the boolean value is true */\n        background-color: rgba(255, 0, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .led.green {\n        /* Make the LED green when the boolean value is false */\n        background-color: rgba(0, 255, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .stats {\n        /* Add some padding and margin to the stats */\n        padding: 8px;\n        margin: 8px;\n\n        /* Use flexbox to align the stats horizontally */\n        display: flex;\n        flex-direction: row;\n        align-items: left;\n    }\n\n    .card .stats .label {\n        /* Add some margin to the labels */\n        margin: 8px;\n\n        /* Align the text to the left */\n        text-align: left;\n    }\n</style>\n\n<div class=\"card\" ng-click=\"send({payload: 1})\">\n    <!-- LED -->\n    <div class=\"led-container\">\n        <div class=\"led\" ng-class=\"{'red':!msg.payload.isRunning, 'green':msg.payload.isRunning}\"></div>\n    </div>\n\n    <!-- Machine stats -->\n    <div class=\"stats\">\n        <div class=\"card-body\">\n            <div class=\"card-text\">\n                <p class=\"machine-name\">{{msg.payload.machineName}}</p>\n                <div></div>\n                <p>Número de ciclos: {{msg.payload.numCycles}}</p>\n                <p>Tiempo mínimo de ciclo: {{msg.payload.minCycleTime}}</p>\n                <p>Tiempo promedio de ciclo: {{msg.payload.avgCycleTime}}</p>\n                <p>Tiempo máximo de ciclo: {{msg.payload.maxCycleTime}}</p>\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 120,
        "wires": [
            [
                "40415dec34029574"
            ]
        ]
    },
    {
        "id": "f7ef1c35dcd02342",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "isRunning = true",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 120,
        "y": 900,
        "wires": [
            [
                "1c3740081de26468"
            ]
        ]
    },
    {
        "id": "b78a6ec512368a4e",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "Machine JSON",
        "func": "var random_boolean = Math.random() < 0.5;\nvar machine = {\n    \"machineName\": \"Machine 1\",\n    \"numCycles\": 10,\n    \"minCycleTime\": 5,\n    \"avgCycleTime\": 10,\n    \"maxCycleTime\": 15,\n    \"isRunning\": random_boolean\n};\nmsg.payload=machine\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 60,
        "wires": [
            [
                "68ef9587cfbb773f"
            ]
        ]
    },
    {
        "id": "c698b95e3e138cb9",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "machineName",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"machineName\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 700,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "68ef9587cfbb773f",
        "type": "debug",
        "z": "f788a78067227a65",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 60,
        "wires": []
    },
    {
        "id": "48b84bb63c3f951c",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "function 2",
        "func": "msg.topic = \"update\";\nvar data = {\n    'machineName': global.get(\"machineName\") || 'default name',\n    'numCycles': global.get(\"numCycles\") || 10,\n    'minCycleTime': global.get(\"minCycleTime\") || 5,\n    'avgCycleTime': global.get(\"avgCycleTime\") || 10,\n    'maxCycleTime': global.get(\"maxCycleTime\") || 15,\n    'isRunning': global.get(\"maxCycleTime\") || true\n}\nmsg.payload = data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "d31817f54b628238",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "numCycles",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"numCycles\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 740,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "6f98be7a3b60bcce",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "minCycleTime",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"minCycleTime\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 780,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "a44db6920b33ea87",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "avgCycleTime",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"avgCycleTime\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 820,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "cb33bfebc2190795",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "maxCycleTime",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"maxCycleTime\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 860,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "1c3740081de26468",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "isRunning",
        "func": "msg.topic = 'Machine 01 Data';\nglobal.set(\"isRunning\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 900,
        "wires": [
            [
                "48b84bb63c3f951c"
            ]
        ]
    },
    {
        "id": "a8d415fc7a23f34d",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "maxCycles = 15",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "15",
        "payloadType": "num",
        "x": 120,
        "y": 860,
        "wires": [
            [
                "cb33bfebc2190795"
            ]
        ]
    },
    {
        "id": "137b224172463602",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "avgCycles = 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 120,
        "y": 820,
        "wires": [
            [
                "a44db6920b33ea87"
            ]
        ]
    },
    {
        "id": "215eaa5178796d87",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "minCycles = 5",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 110,
        "y": 780,
        "wires": [
            [
                "6f98be7a3b60bcce"
            ]
        ]
    },
    {
        "id": "e117995517d210f7",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Cycles = 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 110,
        "y": 740,
        "wires": [
            [
                "d31817f54b628238"
            ]
        ]
    },
    {
        "id": "cb5f18dd2f26190f",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "machineName = \"Promass 16\"",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Promass 16",
        "payloadType": "str",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "c698b95e3e138cb9"
            ]
        ]
    },
    {
        "id": "40415dec34029574",
        "type": "ui_ui_control",
        "z": "f788a78067227a65",
        "name": "",
        "events": "all",
        "x": 1120,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0ae249a0b685d2f6",
        "type": "ui_template",
        "z": "f788a78067227a65",
        "group": "0ca931ec6fb88653",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .main-container {\n        display: flex;\n        flex-direction: row;\n        width: 100%;\n    }\n\n    .left-container {\n        display: flex;\n        flex-direction: column;\n    }\n\n    .card p {\n        margin: 0;\n    }\n\n    .card {\n        /* Add rounded corners and shadow to the card */\n        border-radius: 8px;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);\n\n        /* Add some padding and margin to the card */\n        padding: 16px;\n        margin: 16px;\n\n        /* Use flexbox to align the contents of the card */\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .machine-name {\n        font-weight: bold;\n        font-style: italic;\n    }\n\n    .card:hover {\n        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);\n    }\n\n    .card-text p {\n        padding: 0.5rem;\n    }\n\n    .card .led {\n        /* Add a border and some padding to the LED */\n        border: 1px solid rgba(0, 0, 0, 0.877);\n        border-radius: 50%;\n        width: 16px;\n        height: 16px;\n        margin: 8px;\n        padding: 8px;\n        align-self: left;\n\n    }\n\n    .led-container {\n        width: 100%;\n        align-items: left;\n    }\n\n    .card .led.red {\n        /* Make the LED red when the boolean value is true */\n        background-color: rgba(255, 0, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .led.green {\n        /* Make the LED green when the boolean value is false */\n        background-color: rgba(0, 255, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .stats {\n        /* Add some padding and margin to the stats */\n        padding: 8px;\n        margin: 8px;\n\n        /* Use flexbox to align the stats horizontally */\n        display: flex;\n        flex-direction: row;\n        align-items: left;\n    }\n\n    .card .stats .label {\n        /* Add some margin to the labels */\n        margin: 8px;\n\n        /* Align the text to the left */\n        text-align: left;\n    }\n</style>\n\n<div class=\"main-container\">\n    <div class=\"left-container card-text\">\n        <div class=\"card\">\n            <p>Tipo de matriz: {{}}</p>\n            <p>Código matriz: {{}}</p>\n            <p>Piezas por ciclo: {{}}</p>\n        </div>\n        <div class=\"card\">\n            <p>Número de ciclo: {{}}</p>\n            <p>Tiempo de ciclo: {{}}</p>\n            <p>Tiempo de ciclo anterior: {{}}</p>\n            <p>Inicio: {{}}</p>\n            <p>Término: {{}}</p>\n        </div>\n    </div>\n    <div class=\"card card-text\">\n        <p>Cantidad producida: {{}}</p>\n        <p>Horas produciendo: {{}}</p>\n        <p>Horas detenida: {{}}</p>\n        <p>Tiempo de ciclo promedio acumulado: {{}}</p>\n        <p>Tiempo de ciclo mínimo: {{}}</p>\n        <p>Tiempo de ciclo máximo: {{}}</p>\n        <p>% de utilización: {{}}</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "292b7d455fbe4412",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 440,
        "y": 60,
        "wires": [
            [
                "b78a6ec512368a4e"
            ]
        ]
    },
    {
        "id": "dea77fd.b480f8",
        "type": "http request",
        "z": "f788a78067227a65",
        "name": "",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://search-movies-gsfof3bxfx5haabad2elcueuw4.sa-east-1.es.amazonaws.com/movies/_doc/1",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 210,
        "y": 580,
        "wires": [
            [
                "261e81ee.00f02e"
            ]
        ]
    },
    {
        "id": "37d01ae9.869d66",
        "type": "change",
        "z": "f788a78067227a65",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\":\"application/json\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"director\":\"Burton, Tim\",\"genre\":[\"Comedy\",\"Sci-Fi\"],\"year\":1996,\"actor\":[\"Jack  Nicholson\",\"Pierce Brosnan\",\"Sarah Jessica Parker\"],\"title\":\"Mars Attacks!\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "dea77fd.b480f8"
            ]
        ]
    },
    {
        "id": "261e81ee.00f02e",
        "type": "debug",
        "z": "f788a78067227a65",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 640,
        "wires": []
    },
    {
        "id": "52ed8a0e894832d9",
        "type": "http request",
        "z": "f788a78067227a65",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://search-movies-gsfof3bxfx5haabad2elcueuw4.sa-east-1.es.amazonaws.com/movies/_search?q=mars&pretty=true",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 530,
        "y": 560,
        "wires": [
            [
                "66a2c7323ae15fe4"
            ]
        ]
    },
    {
        "id": "66a2c7323ae15fe4",
        "type": "debug",
        "z": "f788a78067227a65",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 620,
        "wires": []
    },
    {
        "id": "003fecdad0d27213",
        "type": "ui_template",
        "z": "f788a78067227a65",
        "group": "6d1bf9e97b19ea27",
        "name": "",
        "order": 0,
        "width": "7",
        "height": "9",
        "format": "<style>\n    @-webkit-keyframes pulse {\n        0% {\n            box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);\n        }\n\n        50% {\n            box-shadow: 0 0 16px rgb(0, 255, 0), inset 0 0 14px rgb(0, 255, 0);\n        }\n\n        100% {\n            box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);\n        }\n    }\n\n    .card {\n        /* Add rounded corners and shadow to the card */\n        border-radius: 8px;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);\n        /* Add some padding and margin to the card */\n        padding: 16px;\n        margin: 16px;\n\n        /* Use flexbox to align the contents of the card */\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .machine-name {\n        font-weight: bold;\n        font-style: italic;\n    }\n\n    .card:hover {\n        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);\n        cursor: pointer;\n    }\n\n    .card-text p {\n        padding: 0.5rem;\n    }\n\n    .card .led {\n        /* Add a border and some padding to the LED */\n        border: 0px solid rgba(0, 0, 0, 0.164);\n        border-radius: 50%;\n        width: 16px;\n        height: 16px;\n        margin: 8px;\n        padding: 8px;\n        align-self: left;\n    }\n\n    .led-container {\n        width: 100%;\n        align-items: left;\n    }\n\n    .card .led.red {\n        /* Make the LED red when the boolean value is true */\n        background-color: rgba(255, 0, 0, 0.7);\n        align-self: left;\n        box-shadow: 0 0 8px #ff0000, inset 0 0 8px #ff0000;\n    }\n\n    .card .led.green {\n        /* Make the LED green when the boolean value is false */\n        background-color: rgb(0, 255, 0);\n        align-self: left;\n        box-shadow: 0 0 8px rgb(0, 255, 0), inset 0 0 8px rgb(0, 255, 0);\n        -webkit-animation: pulse 1s linear 0.5s infinite;\n    }\n\n    .card .stats {\n        /* Add some padding and margin to the stats */\n        padding: 8px;\n        margin: 8px;\n\n        /* Use flexbox to align the stats horizontally */\n        display: flex;\n        flex-direction: row;\n        align-items: left;\n    }\n\n    .card .stats .label {\n        /* Add some margin to the labels */\n        margin: 8px;\n\n        /* Align the text to the left */\n        text-align: left;\n    }\n</style>\n\n<div class=\"card\" ng-click=\"send({payload: 1})\">\n    <!-- LED -->\n    <div class=\"led-container\">\n        <div class=\"led\" ng-class=\"{'red':!msg.payload.isRunning, 'green':msg.payload.isRunning}\"></div>\n    </div>\n\n    <!-- Machine stats -->\n    <div class=\"stats\">\n        <div class=\"card-body\">\n            <div class=\"card-text\">\n                <p class=\"machine-name\">{{msg.payload.machineName}}</p>\n                <div></div>\n                <p>Número de ciclos: {{msg.payload.numCycles}}</p>\n                <p>Tiempo mínimo de ciclo: {{msg.payload.minCycleTime}}</p>\n                <p>Tiempo promedio de ciclo: {{msg.payload.avgCycleTime}}</p>\n                <p>Tiempo máximo de ciclo: {{msg.payload.maxCycleTime}}</p>\n            </div>\n        </div>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 220,
        "wires": [
            [
                "41620427fabb1e6d"
            ]
        ]
    },
    {
        "id": "41620427fabb1e6d",
        "type": "ui_ui_control",
        "z": "f788a78067227a65",
        "name": "",
        "events": "all",
        "x": 1120,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ab3c3e995b11e497",
        "type": "ui_template",
        "z": "f788a78067227a65",
        "group": "3f5e573249780b52",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .main-container {\n        display: flex;\n        flex-direction: row;\n        width: 100%;\n    }\n\n    .left-container {\n        display: flex;\n        flex-direction: column;\n    }\n\n    .card p {\n        margin: 0;\n    }\n\n    .card {\n        /* Add rounded corners and shadow to the card */\n        border-radius: 8px;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);\n\n        /* Add some padding and margin to the card */\n        padding: 16px;\n        margin: 16px;\n\n        /* Use flexbox to align the contents of the card */\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n    }\n\n    .machine-name {\n        font-weight: bold;\n        font-style: italic;\n    }\n\n    .card:hover {\n        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);\n    }\n\n    .card-text p {\n        padding: 0.5rem;\n    }\n\n    .card .led {\n        /* Add a border and some padding to the LED */\n        border: 1px solid rgba(0, 0, 0, 0.877);\n        border-radius: 50%;\n        width: 16px;\n        height: 16px;\n        margin: 8px;\n        padding: 8px;\n        align-self: left;\n\n    }\n\n    .led-container {\n        width: 100%;\n        align-items: left;\n    }\n\n    .card .led.red {\n        /* Make the LED red when the boolean value is true */\n        background-color: rgba(255, 0, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .led.green {\n        /* Make the LED green when the boolean value is false */\n        background-color: rgba(0, 255, 0, 0.7);\n        align-self: left;\n    }\n\n    .card .stats {\n        /* Add some padding and margin to the stats */\n        padding: 8px;\n        margin: 8px;\n\n        /* Use flexbox to align the stats horizontally */\n        display: flex;\n        flex-direction: row;\n        align-items: left;\n    }\n\n    .card .stats .label {\n        /* Add some margin to the labels */\n        margin: 8px;\n\n        /* Align the text to the left */\n        text-align: left;\n    }\n</style>\n\n<div class=\"main-container\">\n    <div class=\"left-container card-text\">\n        <div class=\"card\">\n            <p>Tipo de matriz: {{}}</p>\n            <p>Código matriz: {{}}</p>\n            <p>Piezas por ciclo: {{}}</p>\n        </div>\n        <div class=\"card\">\n            <p>Número de ciclo: {{}}</p>\n            <p>Tiempo de ciclo: {{}}</p>\n            <p>Tiempo de ciclo anterior: {{}}</p>\n            <p>Inicio: {{}}</p>\n            <p>Término: {{}}</p>\n        </div>\n    </div>\n    <div class=\"card card-text\">\n        <p>Cantidad producida: {{}}</p>\n        <p>Horas produciendo: {{}}</p>\n        <p>Horas detenida: {{}}</p>\n        <p>Tiempo de ciclo promedio acumulado: {{}}</p>\n        <p>Tiempo de ciclo mínimo: {{}}</p>\n        <p>Tiempo de ciclo máximo: {{}}</p>\n        <p>% de utilización: {{}}</p>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "6b54a3d85176dd3b",
        "type": "OpcUa-Item",
        "z": "f788a78067227a65",
        "item": "ns=6;s=::OpcUA_IF:mac_status.actual_cycle_time",
        "datatype": "Int32",
        "value": "",
        "name": "Item - número de ciclos",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "6ff6c67bf3063c80"
            ]
        ]
    },
    {
        "id": "2dd2dd3c.5d9b72",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Read",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "6b54a3d85176dd3b",
                "631749ee0c3b7f3a"
            ]
        ]
    },
    {
        "id": "4ec38626.22afb8",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Subscribe ( Interval 1 sec.)",
        "props": [
            {
                "p": "payload",
                "v": "1000",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "1000",
        "payloadType": "num",
        "x": 230,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "de7b113d.00879",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Browse",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyDevice",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "2ec2bede.18aba2",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Browse Alarm",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "ns=2;s=MyLevel.Alarm",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "f6f54112.c9ed4",
        "type": "catch",
        "z": "f788a78067227a65",
        "name": "",
        "scope": null,
        "x": 200,
        "y": 1720,
        "wires": [
            [
                "3b51ffbd.c887f"
            ]
        ]
    },
    {
        "id": "3b51ffbd.c887f",
        "type": "debug",
        "z": "f788a78067227a65",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 1720,
        "wires": []
    },
    {
        "id": "6868efd9.25a6c",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Read & Subscribe",
        "props": [
            {
                "p": "payload",
                "v": "500",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 210,
        "y": 1400,
        "wires": [
            []
        ]
    },
    {
        "id": "983dcde4.57503",
        "type": "inject",
        "z": "f788a78067227a65",
        "name": "Subscribe Events (250ms)",
        "props": [
            {
                "p": "payload",
                "v": "250",
                "vt": "num"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "250",
        "payloadType": "num",
        "x": 230,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "631749ee0c3b7f3a",
        "type": "OpcUa-Item",
        "z": "f788a78067227a65",
        "item": "ns=6;s=::OpcUA_IF:mac_status.running",
        "datatype": "Boolean",
        "value": "",
        "name": "Item - On/Off Status",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "6ff6c67bf3063c80"
            ]
        ]
    },
    {
        "id": "6ff6c67bf3063c80",
        "type": "OpcUa-Client",
        "z": "f788a78067227a65",
        "endpoint": "215b3d60b59062c3",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": "5",
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 560,
        "y": 340,
        "wires": [
            [
                "d1b782dc2590011a"
            ]
        ]
    },
    {
        "id": "ad647a66e5a83048",
        "type": "debug",
        "z": "f788a78067227a65",
        "name": "Client Read value Payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "d1b782dc2590011a",
        "type": "join",
        "z": "f788a78067227a65",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": true,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 710,
        "y": 400,
        "wires": [
            [
                "8dcfe0fe921ca3b5"
            ]
        ]
    },
    {
        "id": "8dcfe0fe921ca3b5",
        "type": "function",
        "z": "f788a78067227a65",
        "name": "Machine 1 JSON Formating",
        "func": "var running = msg.payload[\"ns=6;s=::OpcUA_IF:mac_status.running\"];\nvar cycles = msg.payload[\"ns=6;s=::OpcUA_IF:mac_status.actual_cycle_time\"]\nvar machine = {\n    \"machineName\": \"Machine 15\",\n    \"numCycles\": cycles,\n    \"minCycleTime\": 5,\n    \"avgCycleTime\": 10,\n    \"maxCycleTime\": 15,\n    \"isRunning\": running\n};\nmsg.payload=machine\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 440,
        "wires": [
            [
                "003fecdad0d27213",
                "079730b127182e3f"
            ]
        ]
    }
]